/* .geo-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130vh;
} */

/* .score-solution-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
} */

.game-controls-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
  }

/* .text-container {
    margin-bottom: 2rem;
  } */
  

.score {
  font-size: 1.2rem;
  font-weight: bold;
}


.map-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .capital-solution {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }